<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Welcome, <%= current_user.first_name %>!</h1>

<% if @wallet %>
  <p>Your Wallet Balance: <%= number_to_currency(@wallet.balance) %></p>
<% else %>
  <p>Your wallet balance is currently unavailable.</p>
<% end %>

<%= link_to "Request Loan", new_loan_path %> 
<%= link_to "Loan history", loan_index_path %> 

